$firstColor : #5BBA6F;//light green//
$secondColor : #3FA34D;//A bit darker//
$thirdColor : #2A9134;//Meduim green//
$fourthColor : #137547;//A bit darker//
$fifthColor : #054A29;//Dark green//
//making the grid for the pictures
//Making a mixin for the links//
@mixin links{
  display: inline;
  padding: 20px;
  background-color: $secondColor;
  border-radius: 12px;
  color: $fifthColor;
  opacity: 0.5;
  animation-name: transition;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

//making the home, gallery and contact links flicker//
@keyframes transition{
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
}
//Styling the the top heading//
.text_effect{
  border: none;
  font: normal 70px "Aladin", Helvetica, sans-serif;
  color: rgba(48,48,48,1);
  text-align: center;
  text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
}
//adding grids//
#container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  //Making the headings in black//
  h1{
    color: black;
  }

}

//Adding the background image so that it doesn't move when you scroll down//
body{
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Teko', sans-serif;
}
//styling the fieldset//
fieldset{
  border: solid 2px $fifthColor;
  background-color: $firstColor;
}
//styling the links and making it sticky//
ul {
  text-align: center;
  margin-top: 30px;
  position: sticky;
  top: 2%; }
//changing the color of the links//
a {
  color: black;
  font-size: 30px;
  text-decoration: none; }
//editting the links//
li {
  @include links;

  }
//addimng a hover background color//
li:hover {
  background-color: #054A29; }
  //editting the main header//
  h1{
    color: $fifthColor;
    font-size: 100px;
    text-align: center;
  }
  //making a grid for all the sections for the images//
  section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    //changing the image sizes//
    img{
      width: 250px;
      height: 190px;
      border-radius: 12px;
      border: solid 2px black;
      margin-left: 7%;
    }
  }
  //styling the footer//
  footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #5BBA6F;
    border-radius: 12px;
    border: solid 2px black;
    text-align: center;
  }
  //top button
  .top {
    background-color: #3FA34D;
    border-radius: 12px;
    font-size: 30px;
    color: black;
    float: right;
    position: sticky;
    bottom: 1%;
    right: 1%; }
  //making it responsive for a tablet device//
  @media screen and (max-width:960px) and (min-width:359px){
    fieldset{
      width: 100%;
    }
    //changing the grids//
    #container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto auto auto auto auto;
      //Making the headings in black//
      h1{
        text-align: center;
        color: black;
        font-size: 100px;
      }
      //changing the links//
    }
    li{
      display: grid;
      width: 100px;
      height: 30px;
      margin: 0 auto;
    }
    ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
    //changing the amount of rows//
    section{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      //changing image sizes//
      img{
        width: 250px;
        height: 150px;
        border-radius: 12px;
        border: solid 2px black;
        margin: 0 auto;
      }
    }
    footer{
      width: 100%;
      p{
        font-size: 20px;
      }
    }
    .top{
      width: 30px;
      height: 30px;
      font-size: 20px;
      right: 1%;
      bottom: 1%;
    }
  }
//making it responsive for smart phones//
@media screen and (max-width: 360px) and (min-width:1px){
  fieldset{
    width: 79%;
  }
  body{
    text-align: center;
  }
  //changing the top heading size//
  h1 {
    font-size: 50px;
  }
  //changing the container//
  #container{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    //changing the heading colour in the container//
    h1{
      color: white;
    }
    //editting the sections//
    section{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      width: 100%;
      grid-gap: 10px;
      //changing image sizes//
      img{
          width: 250px;
          height: 150px;
          border-radius: 12px;
          border: solid 2px black;
          margin-left: 13%;
      }
    }
  }
  //changing display of links
  li{
    display: grid;
    width: 60px;
    height: 10px;
    vertical-align: middle;
    padding-left: 0;
  }
  a{
    font-size: 20px;
  }
  ul{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 1fr;

  }
  .top{
    width: 30px;
    height: 30px;
    font-size: 20px;
    right: 1%;
    bottom: 1%;
  }
  footer{
    width: 100%;
  }
}
